*{
    padding: 0;
    margin: 0;
/** Desta forma tiraremos todos os paddings e margin do site, fazendo com que tudo fique colado*/

}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    /** Faremos o projeto com essa fonte**/
}

.container{
    max-width: 1000px;
    margin: auto;
    /** para centralizar o container quando ele se extender demais**/
}

header{
    background-color: #48C5CE;
    /** Usaremos essa cor que já esta separada para o cabeçalho do projeto **/
    text-align: center;
    /* para o texte ficar centralizado, usariamos isso, mas tem um forma melhor de tirar todos as margins e os paddings.
    margin-top: -27px;
    margin-left: -10px;
    margin-right: -20px;
    /** Para cobrir todo o cabeçalho ficar destacado com o texto azul, usei margin-top, margin-left e margin-right com "-" px para ajustar.**/
    /** Para aumentar a parte interna da palavra, usarei padding 5 px, e botton deixarei sem padding**/

}

.title{
    color: white;
    font-size: 28px;
}

.formContainer{
    /* Com o max-width não precisamo botar quebras de linhas nos elementos que pulam linhas.*/
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
    /*Usando o padding para criar mais espaço dentro do formulario*/
    float: right;
   /* margin-right: 20px;
    margin-top: 20px; */
}

h2{
    font-size: 16px;
    /*Modificaremos para caber e ficar melhor na tela*/
}

.mb{
    margin-bottom: 10px;
}

/* Iremos mudar o estilo do inpute e select*/

input, select{
    width: 100%;
    box-sizing:border-box;
    /*Box sizing ira fazer caixas nos inputs, para fazer os afastamentos.*/
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"]{
    color: white;
    background-color: #48C5CE;
    font-weight: bold;
}

.people {
    /*Esse backgroun cover vai fazer com que a imagem fique full na div*/
    background-size: cover;
    /* Esse padding ira subistituir as configurações acima do formContainer.*/
    padding: 20px;
    /* Para o background funcionar iremos usar o overflow: hidden*/
    overflow: hidden;
    background-image: url(/Projeto_pagina_de_captura/images/people.jpg)
    
}

select{
    /* isso vai tirar a imagem de selecionar o botão de selecionar para botar outro*/
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /*Aqui irmeos colocar novo botão*/
    background-image: url(/Projeto_pagina_de_captura/images/arrow.jpg);
    background-repeat: no-repeat;
    /*iremos ajustar  o botão*/
    background-position-x: calc(100% - 10px);
    background-position-y: center;
}

.picture{ 
    width: 160px
}

.text2{
    display: inline-block;
    color: white;
    max-width: 40%;
    margin-left: 40px;
}

.text2 p, .text2 h2{
    margin-bottom: 20px;
    text-align: left;
}

footer{
    background-color: #202121;
    padding: 40px;
    /* Para centralizar botaremos o text-align: center; e botar os display da imagem e do paragrafo, em inline-bloc */
    text-align: center;
    /* Para centralizar o texto a esquerda da foto iremos no CSS do texto e text-align: left; */
}

h3{
    font-size: 24px;
}





